@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.carousel-image {
    transition: transform 0.5s ease-in-out;
}

.carousel-image.animate-prev {
    transform: translateX(-100%);
}

.carousel-image.animate-next {
    transform: translateX(100%);
}